@model ProductViewModel
@{
    ViewData["Title"] = $"Product N. {Model.Id}";
}

<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-header">@ViewData["Title"]</div>
            <div class="card-body">
                <h4>Product Name: @Model.Name</h4>
                <span>Price: @Model.Price lv.</span>
            </div>
        </div>
    </div>
</div>
